TS3SERVER=server.tld
SPOTIFY_USER=username
SPOTIFY_PASSWORD=password
SERVER_URL=ws://ip:port/api/client
CLIENT_SECRET=clientsecret
SPOTIFY_API_ID=apiclientkey
SPOTIFY_API_SECRET=apisecret
SPOTIFY_REFRESH_TOKEN=refreshtoken